body{
	background-color: 
}
.Subheaders{
	padding: 10px;
	background-image: url(http://3.bp.blogspot.com/-0cCjN8DouTg/UcCCgH9cm0I/AAAAAAAAABU/8rkgLliziks/s1600/frozentextlessbanner.jpg);
	background-size: fill;
	text-align: center;
	color: white;
	font-size: 60px;
	text-shadow: 2px 2px black;
}
